@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .description-blocks {
    max-width: 275px;
  }

  .p-block {
    max-width: 400px;
  }
}


@media all and (min-device-width: 1200px) {
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-o-keyframes spin { 100% { -o-transform: rotate(360deg); } }
  @keyframes spin { 100% { transform:rotate(360deg); } }

  button:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  .buy-button:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  #floating-button {
    display: none;
    visibility: hidden;
  }

  nav {
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0);
    line-height: 100%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  nav.smaller {
    height: 45px;
    background: rgba(0, 0, 0, 1);
  }

  #logo {
    max-width: 275px;
    min-width: 240px;
    width: 240px;
    order: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #small-logo {
    order: 0;
    display: inline;
  }

  #logo-text-nav {
    order: 1;
    display: inline;
  }

  nav, nav>ul>li, nav>ul>li>a {
      -webkit-transition: all 1s;
    	transition: all 1s;
  }

  nav>ul {
      order: 1;
      margin-right: 30px;
    	display: inline;
    	position: relative;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: 1;
  }

  nav>ul>li {
  	font-weight: bold;
  }

  nav>ul>li>a {
  	display: inline-block;
  }

  li {
  	display: inline;
  }

  nav>ul>li>a:after {
  	content: '';
  	display: block;
  	margin: auto;;
  	height: 2px;
  	width: 0px;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
  }

  nav>ul>li>a:hover:after {
  	width: 100%;
  	background: rgba(255, 255, 255, 1);
  }

  #hover-cart {
    position: relative;
  }

  #hover-cart-overlay {
    display: none;
    position: absolute;
    height: 125px;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.9);;
    border: 3px solid black;
    overflow: hidden;
    right: 0px;
    top: 25px;
    border-radius: 2px;
  }

  #hover-cart-overlay * {
    color: white;
    font-size: 10pt;
  }

  #hover-cart-internal {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  #hci-1 {
    order: 0;
  }

  #hci-2 {
    order: 1;
  }

  #m-landscape-mask {
    visibility: hidden;
    display: none;
  }

  #page-1 {
    height: 100vh;
    width: 100%;
  }

  #flex-container-1 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
                     rgba(0,0,0, .15),
                     rgba(0,0,0, .15)
                     ),
                     url("../img/g12345.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #page-1-block {
    order: 0;
    height: 100%;
    max-width: 45%;
    min-width: 45%;
    width: 45%;
    margin-left: 3px;
    margin-top: -50px;
  }

  #box-0 {
    order: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #page-2-heading-text {
    order: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 7px solid black;
  }

  #m-page-1 {
    visibility: hidden;
    display: none;
  }

  #flex-container-2 {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #wrapper-1 {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .description-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  #box-1 {
    order: 1;
    max-width: 20%;
    width: 20%;
    min-width: 200px;
    padding-right: 50px;
    border-right: 1px solid black;
  }

  #box-2 {
    order: 2;
    max-width: 20%;
    width: 20%;
    min-width: 200px;
    margin-left: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
  }

  #box-3 {
    order: 3;
    max-width: 20%;
    width: 20%;
    min-width: 200px;
    margin-left: 50px;
  }

  .icon {
    order: 0;
    width: 128px;
  }

  .subheading {
    order: 1;
    text-align: center;
  }

  .description-blocks {
    order: 2;
    text-align: center;
    font-size: 13pt;
  }

  #box-4 {
    order: 3;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #learn-more {
    order: 0;
  }

  .timeline-block, .timeline-block-first, .timeline-block-last {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 25px;
    max-height: 295px;
    min-height: 295px;
    background-color: #f2f2f2;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 7px #000000;
  }

  #m-page-3 {
    visibility: hidden;
    display: none;
  }

  #page-3 {
    height: 100vh;
    width: 100%;
    background-color: #000000;
  }

  #flex-container-3 {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #page-3-left {
    order: 0;
    height: 100%;
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    background-image: url('../img/lauren.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #lauren {
    max-height: 100%;
    margin-top: 5px;
  }

  #page-3-right {
    order: 1;
    max-width: 350px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #icon-4 {
    -webkit-animation: spin 55s linear infinite;
  }

  #sub-4 {
    order: 1;
  }

  .p-block {
    order: 2;
    font-size: 13pt;
  }

  #mobile-contact-title {
    display: none;
    visibility: hidden;
  }

  .form-field {
    width: 450px;
    height: 35px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .form-field:hover, .form-field:focus {
    background-color: #ededed;
  }

  #questions {
    width: 450px;
    height: 95px;
    border: none;
    border-bottom: 2px solid #333333;
    resize: none;
    outline: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #questions:hover, #questions:focus {
    background-color: #ededed;
  }

  #submit-button {
    border: 3px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    transition: background-color 0.7s ease;
    -webkit-transition: background-color 0.7s ease;
  }

  #submit-button:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  #page-4 {
  height: 105vh;
  width: 100%;
  }

  #flex-container-4 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #sampler-title {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .sampler {
    order: 0;
    font-size: 24pt;
    color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }

  .onboard, .onboard-2 {
    display: none;
    order: 0;
    position: absolute;
    height: 350px;
    width: 340px;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px #000000;
  }

  .onboard-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .step-number {
    margin-top: 15px;
    order: 0;
    top:-20px;
    right:-20px;
    background: white;
    color:black;
    height:35px;
    width:35px;
    line-height:35px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    border: 2px solid black;
    -webkit-border-radius:40px;
    border-radius:40px;
  }

  .step-title {
    order: 1;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
  }

  .onboard-1-button {
    order: 2;
    min-width: 150px;
    width: 150px;
    margin: 5px;
  }

  .sub, #monthly {
    margin-top: 45px;
    font-weight: bold;
    border: 5px solid black;
  }

  #once, #bi-weekly, #weekly {
    margin-top: 2px;
  }

  #bolivian {
    min-width: 150px;
    width: 150px;
  }

  #light-nic {
    min-width: 300px;
    width: 300px;
  }

  .buy-box-minor {
    position: relative;
    order: 1;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 5px solid #000000;
    margin: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .buy-box-minor:hover {
    box-shadow: 0px 0px 15px 7px #333333;
  }

  .buy-box-minor>.description-blocks {
    min-height: 125px;
    height: 125px;
    max-height: 125px;
  }

  #buy-box-header-1, #buy-box-header-2, #buy-box-header-3 {
    order: 0;
    height: 40%;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: center;
  }

  #buy-box-header-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/light.jpeg");
  }

  #buy-box-header-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/medium.jpeg");
  }

  #buy-box-header-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/dark.jpeg");
  }

  #inner-buy-header {
    order: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: center;
    border-bottom: 2px dashed #000000;
    background-color: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #inner-buy-header:hover {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px dashed #FFFFFF;
  }

  .price {
    order: 0;
    text-align: center;
  }

  .name {
    order: 1;
    text-align: center;
  }

  #buy-text {
    padding: 5px;
    margin-top: 10%;
  }

  .buy-button-container {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .buy-button-col {
    order: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #buy {
    order: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .learn-more-container {
    visibility: hidden;
    display: none;
  }

  .tooltip {
    order: 1;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 9pt;
    margin-top: -10px;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 1);;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 0%;
    margin-left: -135px;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .tooltip:hover .tooltip-text {
      visibility: visible;
      opacity: 0.8;
  }

  #page-5 {
    height: 100vh;
    width: 100%;
  }

  #form-block {
    order: 1;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -55px;
  }
}
