@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

nav {
  width: 100%;
  height: 75px;
  background: rgba(0, 0, 0, 1);
  line-height: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

nav.smaller {
  height: 45px;
}

#logo {
  display: none;
  visibility: hidden;
}

#hover-cart-overlay {
  display: none;
  visibility: hidden;
}

nav, nav>ul>li, nav>ul>li>a {
    -webkit-transition: all 1s;
    transition: all 1s;
}

nav>ul {
    order: 1;
    display: inline;
    position: relative;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

nav>ul>li {
  font-weight: bold;
}

nav>ul>li>a {
  display: inline-block;
}

li {
  display: inline;
}

#page-1 {
  visibility: hidden;
  display: none;
}

#m-landscape-mask {
  visibility: hidden;
  display: none;
}

#m-page-1 {
  visibility: visible;
  display: block;
  height: 40vh;
  max-height: 70vh;
  width: 100%;
}

#m-flex-container-1 {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-image: none;
  background-color: #000000;
}

#m-img-container {
  display: none;
  visibility: hidden;
}

#m-header-container {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#m-header-text {
  order: 0;
}

#m-subheading-container {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#m-subheading-text {
  order: 0;
  font-weight: bolder;
  border: 3px solid white;
  padding: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

#m-header-img {
  width: 70px;
}

#flex-container-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

#wrapper-1 {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box-0 {
  display: none;
  visibility: hidden;
}

.description-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  padding: 13px;
  margin: 10px;
}

#box-1 {
  order: 1;
  width: 65%;
  font-size: 16px;
}

#box-2 {
  order: 2;
  width: 65%;
  font-size: 16px;
}

#box-3 {
  order: 3;
  width: 65%;
  font-size: 16px;
}

.icon {
  order: 0;
  width: 128px;
}

.subheading {
  order: 1;
  text-align: center;
}

.description-blocks {
  order: 2;
  text-align: center;
}

#box-4 {
  order: 4;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#learn-more {
  order: 0;
}

.timeline-block, .timeline-block-first, .timeline-block-last {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 25px;
  max-height: 295px;
  min-height: 295px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 7px #000000;
}

#page-3 {
  visibility: hidden;
  display: none;
}

#m-page-3 {
  visibility: visible;
  display: block;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

#m-flex-container-3 {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-image: url('../img/lauren.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#page-3-right {
  order: 0;
  height: 87%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
}

#icon-4 {
  width: 200px;
  -webkit-animation: spin 55s linear infinite;
}

#sub-4 {
  order: 1;
  color: #FFFFFF;
  font-size: 40pt;
}

.p-block {
  order: 2;
  color: #FFFFFF;
  font-size: 14pt;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#page-5 {
  width: 100%;
}

#form-block {
  order: 1;
  padding-right: 30px;
  margin-top: -55px;
}

#mobile-contact-title {
  font-size: 32pt;
  border: 5px solid black;
  padding: 25px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 125px;
  margin-left: 27px;
}

.form-field {
  width: 100%;
  height: 35px;
  border: 3px solid black;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-field:focus {
  background-color: #ededed;
}

#questions {
  width: 106%;
  height: 135px;
  border: 3px solid black;
  resize: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#questions:focus {
  background-color: #ededed;
}

#submit-button {
  border: 3px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  font-size: 14pt;
  font-weight: bolder;
}

#form-footnote, #form-footnote-link {
  display: none;
  visibility: hidden;
}

#page-4 {
width: 100%;
margin: 0;
padding: 0;
}

#flex-container-4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.onboard, .onboard-2 {
  display: none;
  order: 0;
  position: absolute;
  height: 350px;
  width: inherit;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #000000;
}

.onboard-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.step-number {
  margin-top: 15px;
  order: 0;
  top:-20px;
  right:-20px;
  background: white;
  color:black;
  height:35px;
  width:35px;
  line-height:35px;
  font-size:35px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  border: 2px solid black;
  -webkit-border-radius:40px;
  border-radius:40px;
}

.step-title {
  order: 1;
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}

.onboard-1-button {
  order: 2;
  min-width: 150px;
  width: 150px;
  margin: 5px;
}

.sub, #monthly {
  margin-top: 45px;
  font-weight: bold;
  border: 5px solid black;
}

#once, #bi-weekly, #weekly {
  margin-top: 2px;
}

#bolivian {
  min-width: 150px;
  width: 150px;
}

#light-nic {
  min-width: 300px;
  width: 300px;
}


.buy-box-minor {
  order: 1;
  height: 500px;
  width: 65%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 5px solid #000000;
}

#buy-box-header {
  order: 0;
  height: 40%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: center;
}

#inner-buy-header {
  order: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: center;
  border-bottom: 2px dashed #FFFFFF;
}

#buy-box-header-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/light.jpeg");
}

#buy-box-header-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/medium.jpeg");
}

#buy-box-header-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/dark.jpeg");
}

.price {
  order: 0;
  text-align: center;
  font-size: 55pt;
}

.name {
  order: 1;
  text-align: center;
  font-size: 24pt;
}

#buy-text {
  padding: 7px;
  margin-top: 10%;
}

.buy-button-container {
  order: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buy-button-col {
  order: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#buy {
  order: 0;
  padding: 10px;
}

.tooltip {
  visibility: hidden;
  display: none;
}

.learn-more-container {
  order: 1;
  position: relative;
  border-bottom: 1px dotted black;
  font-size: 9pt;
  margin-top: -10px;
}

#overlay, #overlay-2, #overlay-3 {
  height: 400px;
  width: 275px;
  background: rgba(0, 0, 0, 0.85);
  color:white;
  padding:10px;
  position: absolute;
  z-index:1000;
  margin-left: -26px;
  display:none;
  -webkit-border-radius:15px;
  border-radius:15px;
  border: 3px solid white;
}

#overlay {
  margin-top: -400px;
  margin-left: -100px;
}

#overlay-2 {
  margin-top: -400px;
  margin-left: 40px;
}

#overlay-3 {
  margin-top: -375px;
  margin-left: 10px;
}

#mask {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index:500;
  width:100%;
  height:100%;
  display:none;
}

#overlay:target, #overlay:target + #mask, #overlay-2:target, #overlay-2:target + #mask, #overlay-3:target, #overlay-3:target + #mask  {
  display: block;
  opacity:1;
}

.close {
  display:block;
  position:absolute;
  top:-20px;
  right:-20px;
  background: white;
  color:black;
  height:35px;
  width:35px;
  line-height:35px;
  font-size:35px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  -webkit-border-radius:40px;
  border-radius:40px;
}
